<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kevin.tm.dao.AdminMapper">
	<select id="getById" parameterType="String" resultMap="adminResultMap">
		SELECT LoginId, LoginPwd, AdminName
		FROM Admin
		WHERE (LoginId = #{LoginId})
	</select>
	<select id="getAll" resultMap="adminResultMap">
		SELECT LoginId, LoginPwd, AdminName
		FROM Admin
	</select>
	<select id="login" parameterMap="loginParameterMap" resultMap="adminResultMap">
		SELECT LoginId, LoginPwd, AdminName
		FROM Admin
		WHERE (LoginId = #{LoginId}) AND (LoginPwd = #{LoginPwd})
	</select>
	<parameterMap type="kevin.tm.model.Admin" id="loginParameterMap">
		<parameter property="loginid" javaType="String" jdbcType="VarChar" />
		<parameter property="loginpwd" javaType="String" jdbcType="Char" />
	</parameterMap>
	<resultMap type="kevin.tm.model.Admin" id="adminResultMap">
		<id property="loginid" column="LoginId" />
		<result property="loginpwd" column="LoginPwd" />
		<result property="adminname" column="AdminName" />
	</resultMap>
</mapper>
