<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kevin.tm.dao.BusMapper">
	<select id="getById" parameterType="Integer" resultMap="busResultMap">
	SELECT   B.VehicleNo, B.DriverName, B.SeatCount, B.BusState, B.BusStationId, B.BusRouteId, R.RouteId, R.StartStationId, 
                R.EndStationId, R.RouteName, BS.StationId AS B_StationId, BS.StationName AS B_StationName, 
                BS.LocationX AS B_LocationX, BS.LocationY AS B_LocationY, SS.StationId AS S_StationId, 
                SS.StationName AS S_StationName, SS.LocationX AS S_LocationX, SS.LocationY AS S_LocationY, 
                ES.StationId AS E_StationId, ES.StationName AS E_StationName, ES.LocationX AS E_LocationX, 
                ES.LocationY AS E_LocationY
FROM      Bus AS B INNER JOIN
                Route AS R ON B.BusRouteId = R.RouteId INNER JOIN
                Station AS BS ON B.BusStationId = BS.StationId INNER JOIN
                Station AS SS ON R.StartStationId = SS.StationId INNER JOIN
                Station AS ES ON R.EndStationId = ES.StationId
WHERE   (B.VehicleNo = #{VehicleNo})
	</select>
	<select id="getAll" resultMap="busResultMap">
	SELECT   B.VehicleNo, B.DriverName, B.SeatCount, B.BusState, B.BusStationId, B.BusRouteId, R.RouteId, R.StartStationId, 
                R.EndStationId, R.RouteName, BS.StationId AS B_StationId, BS.StationName AS B_StationName, 
                BS.LocationX AS B_LocationX, BS.LocationY AS B_LocationY, SS.StationId AS S_StationId, 
                SS.StationName AS S_StationName, SS.LocationX AS S_LocationX, SS.LocationY AS S_LocationY, 
                ES.StationId AS E_StationId, ES.StationName AS E_StationName, ES.LocationX AS E_LocationX, 
                ES.LocationY AS E_LocationY
FROM      Bus AS B INNER JOIN
                Route AS R ON B.BusRouteId = R.RouteId INNER JOIN
                Station AS BS ON B.BusStationId = BS.StationId INNER JOIN
                Station AS SS ON R.StartStationId = SS.StationId INNER JOIN
                Station AS ES ON R.EndStationId = ES.StationId
	</select>
	<resultMap type="kevin.tm.model.Bus" id="busResultMap">
	<id property="vehicleno" column="VehicleNo"/>
	<result property="drivername" column="DriverName"/>
	<result property="seatcount" column="SeatCount"/>
	<result property="busstate" column="BusState"/>
	<result property="busstationid" column="BusStationId"/>
	<result property="busrouteid" column="BusRouteId"/>
	<association property="busroute" resultMap="routeResultMap"></association>
	<association property="busstation" resultMap="stationResultMap"></association>
	</resultMap>
	<resultMap type="kevin.tm.model.Station" id="startStationResultMap">
		<id property="stationid" column="S_StationId" />
		<result property="stationname" column="S_StationName" />
		<result property="locationx" column="S_LocationX" />
		<result property="locationy" column="S_LocationY" />
	</resultMap>
	<resultMap type="kevin.tm.model.Station" id="endStationResultMap">
		<id property="stationid" column="E_StationId" />
		<result property="stationname" column="E_StationName" />
		<result property="locationx" column="E_LocationX" />
		<result property="locationy" column="E_LocationY" />
	</resultMap>
	<resultMap type="kevin.tm.model.Route" id="routeResultMap">
	<id property="routeid" column="RouteId"/>
	<result property="startstationid" column="StartStationId"/>
	<result property="endstationid" column="EndStationId"/>
	<result property="routename" column="RouteName"/>
	<association property="startstation" resultMap="startStationResultMap"></association>
	<association property="endstation" resultMap="endStationResultMap"></association>
	</resultMap>
	<resultMap type="kevin.tm.model.Station" id="stationResultMap">
	<id property="stationid" column="StationId"/>
	<result property="stationname" column="StationName"/>
	<result property="locationx" column="LocationX"/>
	<result property="locationy" column="LocationY"/>
	</resultMap>
</mapper>