<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kevin.tm.dao.RouteMapper">
	<select id="getById" parameterType="Integer" resultMap="routeResultMap">
	SELECT R.RouteId, R.StartStationId, R.EndStationId, R.RouteName,
	SS.StationId AS S_StationId,
	SS.StationName AS S_StationName, SS.LocationX AS S_LocationX, SS.LocationY AS
	S_LocationY,
	ES.StationId AS E_StationId, ES.StationName AS E_StationName, ES.LocationX AS
	E_LocationX,
	ES.LocationY AS E_LocationY
	FROM Route AS R INNER JOIN
	Station AS SS ON R.StartStationId = SS.StationId INNER JOIN
	Station AS ES ON R.EndStationId = ES.StationId
	WHERE (R.RouteId = #{RouteId})
	</select>
	<select id="getAll" resultMap="routeResultMap">
	SELECT R.RouteId, R.StartStationId, R.EndStationId, R.RouteName,
	SS.StationId AS S_StationId,
	SS.StationName AS S_StationName, SS.LocationX AS S_LocationX, SS.LocationY AS
	S_LocationY,
	ES.StationId AS E_StationId, ES.StationName AS E_StationName, ES.LocationX AS
	E_LocationX,
	ES.LocationY AS E_LocationY
	FROM Route AS R INNER JOIN
	Station AS SS ON R.StartStationId = SS.StationId INNER JOIN
	Station AS ES ON R.EndStationId = ES.StationId
	</select>
	<select id="getByName" parameterType="String" resultMap="routeResultMap">
	SELECT R.RouteId, R.StartStationId, R.EndStationId, R.RouteName,
	SS.StationId AS S_StationId,
	SS.StationName AS S_StationName, SS.LocationX AS S_LocationX, SS.LocationY AS
	S_LocationY,
	ES.StationId AS E_StationId, ES.StationName AS E_StationName, ES.LocationX AS
	E_LocationX,
	ES.LocationY AS E_LocationY
	FROM Route AS R INNER JOIN
	Station AS SS ON R.StartStationId = SS.StationId INNER JOIN
	Station AS ES ON R.EndStationId = ES.StationId
	WHERE (R.RouteName = #{RouteName})
	</select>
	<resultMap type="kevin.tm.model.Station" id="startStationResultMap">
		<id property="stationid" column="S_StationId" />
		<result property="stationname" column="S_StationName" />
		<result property="locationx" column="S_LocationX" />
		<result property="locationy" column="S_LocationY" />
	</resultMap>
	<resultMap type="kevin.tm.model.Station" id="endStationResultMap">
		<id property="stationid" column="E_StationId" />
		<result property="stationname" column="E_StationName" />
		<result property="locationx" column="E_LocationX" />
		<result property="locationy" column="E_LocationY" />
	</resultMap>
	<resultMap type="kevin.tm.model.Route" id="routeResultMap">
	<id property="routeid" column="RouteId"/>
	<result property="startstationid" column="StartStationId"/>
	<result property="endstationid" column="EndStationId"/>
	<result property="routename" column="RouteName"/>
	<association property="startstation" resultMap="startStationResultMap"></association>
	<association property="endstation" resultMap="endStationResultMap"></association>
	</resultMap>
</mapper>