<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kevin.tm.model.Station">
	<resultMap type="Station" id="startStationResultMap">
		<id property="StationId" column="S_StationId" />
		<result property="StationName" column="S_StationName" />
		<result property="LocationX" column="S_LocationX" />
		<result property="LocationY" column="S_LocationY" />
	</resultMap>
	<resultMap type="Station" id="endStationResultMap">
		<id property="StationId" column="E_StationId" />
		<result property="StationName" column="E_StationName" />
		<result property="LocationX" column="E_LocationX" />
		<result property="LocationY" column="E_LocationY" />
	</resultMap>
</mapper>